<h1 class="main__header">Pedidos <span class="main__ordersNum color--gray"></span></h1>

<div class="orders">
    <section class="orders__actions">
        <i class="fa-solid fa-plus icon toggle-new-order__button"></i>
    </section>
    <section class="orders__history"></section>
</div>

<div class="new-order">
    <section class="new-order__header">
        <i class="fa-solid fa-x icon toggle-new-order__button"></i>
    </section>
    <section class="new-order__main">
        <section class="new-order__type-payment">
            <span>Selecione um método de pagamento</span>
            <div class="new-order__type-payment--select toggle-new-order__type-payment">
                <span class="new-order__type-payment--select-span"><i class="fa-solid fa-p"></i> Pix</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="new-order__type-payment--bg toggle-new-order__type-payment">
                <div class="new-order__type-payment--ctx">
                    <section class="new-order__type-payment--item first" data-value="pix">
                        <i class="fa-solid fa-p icon color--black"></i>
                        <span>Pix</span>
                    </section>
                    <section class="new-order__type-payment--item" data-value="money">
                        <i class="fa-solid fa-money-bill icon color--green"></i>
                        <span>Dinheiro</span>
                    </section>
                    <section class="new-order__type-payment--item" data-value="debit">
                        <i class="fa-solid fa-credit-card icon color--yellow"></i>
                        <span>Cartão de Débito</span>
                    </section>
                    <section class="new-order__type-payment--item" data-value="credit">
                        <i class="fa-solid fa-credit-card icon color--blue"></i>
                        <span>Cartão de Crédito</span>
                    </section>
                    <section class="new-order__type-payment--item last" data-value="mumbuca">
                        <i class="fa-solid fa-credit-card icon color--red"></i>
                        <span>Cartão Mumbuca</span>
                    </section>
                </div>
            </div>
        </section>
        <section class="new-order__commission">
            <input type="checkbox" id="commission">
            <label for="commission">Incluir comissão</label>
        </section>
        <section class="new-order__value">
            <section class="new-order__visor">
                <span class="color--gray">$</span>
                <span class="new-order__visor--value">0.00</span>
            </section>
            <section class="new-order__keyboard">
                <div class="new-order__keyboard--line">
                    <div class="new-order__keyboard--key" data-value="1">1</div>
                    <div class="new-order__keyboard--key" data-value="2">2</div>
                    <div class="new-order__keyboard--key" data-value="3">3</div>
                </div>
                <div class="new-order__keyboard--line">
                    <div class="new-order__keyboard--key" data-value="4">4</div>
                    <div class="new-order__keyboard--key" data-value="5">5</div>
                    <div class="new-order__keyboard--key" data-value="6">6</div>
                </div>
                <div class="new-order__keyboard--line">
                    <div class="new-order__keyboard--key" data-value="7">7</div>
                    <div class="new-order__keyboard--key" data-value="8">8</div>
                    <div class="new-order__keyboard--key" data-value="9">9</div>
                </div>
                <div class="new-order__keyboard--line">
                    <div class="new-order__keyboard--key" data-value=""></div>
                    <div class="new-order__keyboard--key" data-value="0">0</div>
                    <div class="new-order__keyboard--key" data-value="del">
                        <i class="fa-solid fa-delete-left"></i>
                    </div>
                </div>
            </section>            
        </section>
        <button id="new-order__submit">Enviar</button>
    </section>
</div>