/* Main */
/* ===================== */
.main {
    width: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f0f1ea;
    padding: 15px;
    padding-top: 75px;
}

.main * {
    font-family: "Rubik Medium", Arial, Helvetica, sans-serif;
}

.main__header {
    font-size: 22px;
}

.main__ctx {
    width: 100%;
    height: 100%;
}
